body {
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/564x/80/fd/6e/80fd6ec39ebd350c9b49201af0d7877a.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select, button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
}

button {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    cursor: pointer;
    transition: 0.55s;
    
}

button:hover {
    background-color: #8b0000;
    width: 600px;
    height: 60px;
    border-radius: 8px;
    transition: 0.4s;
}

.hidden {
    display: none;
}

.zahovolok{
    color: blue
}

.h3{
    color: rgb(68, 102, 250)

}

.h22{
    color:black
}

.go{
    color:rgb(3, 3, 97);
    font-size: 20px;
    transition: 0.5s;
}

.back{
    color:rgb(3, 3, 97);
    font-size: 20px;
    transition: 0.5s;
}

.go:hover{
    color:rgb(7, 7, 250);
    font-size: 23px;
    transition: 0.5s;
}

.back:hover{
    color:rgb(7, 7, 250);
    font-size: 23px;
    transition: 0.5s;
}
